.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sketchpad{
    display: flex;
}

#grid{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    height: 500px;
    width: 500px;
}

.rows,
.px{
    display: flex;
    flex-grow: 1;
}

#tools{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    justify-content: space-evenly;

}

button{
    width: 100px;
}
